/* Стили для первой страницы */
.hero {
  background-color: var(--background);
  text-align: center;
}

/* Внутренние отступы секций */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.inside-section {
  margin-top: 94px;
}

/* Стиль перевого заголовка в герое */
.hero h1 {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: var(--secondary-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Стилизация кнопки в герое */
.hero .button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-color);
  background-color: var(--active-color);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

/* Стили заголовков №2 */
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Стиль заголовкам раздела особенности */
.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features p,
.team p {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* Стили для раздела наша команда */
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team p {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Стили для второй страницы - портфолио */

/* Стили для списка кнопок фильтра */
.filter .button {
  display: inline-block;
  min-width: 73px;
  font-family: 'Roboto', sans-serif;
  color: var(--heading-color);
  background-color: var(--light-background);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
}

.filter {
  margin-bottom: 50px;
}

.filter .button:hover,
.filter .button:focus {
  color: var(--secondary-color);
  background-color: var(--active-color);
  border: none;
}

/* Стили для секции проекты */
.projects h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects p {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
